<a href="https://colab.research.google.com/github/dilaraesmer/FreeCodeCamp/blob/main/reading_files.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Reading CSV and TXT files

In [1]:
import pandas as pd

In [2]:
with open('btc-market-price.csv', 'r') as fp:
  print(fp)

<_io.TextIOWrapper name='btc-market-price.csv' mode='r' encoding='UTF-8'>

In [5]:
with open('btc-market-price.csv', 'r') as fp:
  for index, line in enumerate(fp.readlines()):
  # read just the first 10 lines
    if (index < 10):
      print(index, line)

0 2017-04-02 00:00:00,1099.169125

1 2017-04-03 00:00:00,1141.813

2 2017-04-04 00:00:00,1141.6003625

3 2017-04-05 00:00:00,1133.0793142857142

4 2017-04-06 00:00:00,1196.3079375

5 2017-04-07 00:00:00,1190.45425

6 2017-04-08 00:00:00,1181.1498375

7 2017-04-09 00:00:00,1208.8005

8 2017-04-10 00:00:00,1207.744875

9 2017-04-11 00:00:00,1226.6170375

In [18]:
pd.read_csv?

In [19]:
csv_url = "https://raw.githubusercontent.com/datasets/gdp/master/data/gdp.csv"
pd.read_csv(csv_url).head()

  Country Name Country Code  Year         Value
0   Arab World          ARB  1968  2.576068e+10
1   Arab World          ARB  1969  2.843420e+10
2   Arab World          ARB  1970  3.138550e+10
3   Arab World          ARB  1971  3.642691e+10
4   Arab World          ARB  1972  4.331606e+10

In [20]:
df = pd.read_csv('btc-market-price.csv')
df.head()

   2017-04-02 00:00:00  1099.169125
0  2017-04-03 00:00:00  1141.813000
1  2017-04-04 00:00:00  1141.600363
2  2017-04-05 00:00:00  1133.079314
3  2017-04-06 00:00:00  1196.307937
4  2017-04-07 00:00:00  1190.454250

In [22]:
df = pd.read_csv('btc-market-price.csv', header=None)
df.head()

                     0            1
0  2017-04-02 00:00:00  1099.169125
1  2017-04-03 00:00:00  1141.813000
2  2017-04-04 00:00:00  1141.600363
3  2017-04-05 00:00:00  1133.079314
4  2017-04-06 00:00:00  1196.307937

Missing values with na_values parameter

In [24]:
df = pd.read_csv('btc-market-price.csv', header=None, 
                 na_values=['','?','-'])

In [25]:
df.head()

                     0            1
0  2017-04-02 00:00:00  1099.169125
1  2017-04-03 00:00:00  1141.813000
2  2017-04-04 00:00:00  1141.600363
3  2017-04-05 00:00:00  1133.079314
4  2017-04-06 00:00:00  1196.307937

Column names using names parameter

In [26]:
df = pd.read_csv('btc-market-price.csv', header=None, 
                 na_values=['','?','-'],
                 names=['Timestamp', 'Price'])

In [27]:
df.head()

             Timestamp        Price
0  2017-04-02 00:00:00  1099.169125
1  2017-04-03 00:00:00  1141.813000
2  2017-04-04 00:00:00  1141.600363
3  2017-04-05 00:00:00  1133.079314
4  2017-04-06 00:00:00  1196.307937

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Timestamp  365 non-null    object
 1   Price      365 non-null    float64
dtypes: float64(1), object(1)
memory usage: 5.8+ KB

Column types using dtype parameter

In [29]:
df = pd.read_csv('btc-market-price.csv', header=None, 
                 na_values=['','?','-'],
                 names=['Timestamp', 'Price'],
                 dtype={'Price' : 'float'})

In [31]:
df.head()

             Timestamp        Price
0  2017-04-02 00:00:00  1099.169125
1  2017-04-03 00:00:00  1141.813000
2  2017-04-04 00:00:00  1141.600363
3  2017-04-05 00:00:00  1133.079314
4  2017-04-06 00:00:00  1196.307937

In [32]:
df.dtypes

Timestamp     object
Price        float64
dtype: object

In [38]:
pd.to_datetime(df['Timestamp']).head()

0   2017-04-02
1   2017-04-03
2   2017-04-04
3   2017-04-05
4   2017-04-06
Name: Timestamp, dtype: datetime64[ns]

In [37]:
df['Timestamp'] = pd.to_datetime(df['Timestamp'])

In [39]:
df.head()

   Timestamp        Price
0 2017-04-02  1099.169125
1 2017-04-03  1141.813000
2 2017-04-04  1141.600363
3 2017-04-05  1133.079314
4 2017-04-06  1196.307937

In [40]:
df.dtypes

Timestamp    datetime64[ns]
Price               float64
dtype: object